# Environment files
*.env

*.gitignore

# Dependency directories
/vendor/
node_modules/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE files
*.swp
*.swo
.idea/
.vscode/

# Cache
/storage/cache/*
